<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Image Table</title>
  <style>
    table {
      border-collapse: collapse;
      width: 80%;
      margin: auto;
      margin-top: 30px;
    }

    th, td {
      border: 2px solid black;
      text-align: center;
      padding: 10px;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    img {
      width: 100px;
      height: auto;
    }
  </style>
</head>
<body>

  <h2 style="text-align: center;">Image Table</h2>

  <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Image</th>
    </tr>

    {% for i in dataimg %}
    <tr>
      <td>{{ i.id }}</td>
      <td>{{ i.name }}</td>
      <td><img src="{{ i.image.url }}" alt="{{ i.name }}"></td>
    </tr>
    {% endfor %}
  </table>

</body>
</html>
